<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>Weekly Discount Info of books</title>
        <meta charset="utf-8" />
        <script src="public/assets/js/pace.min.js" ></script>
        <link href="public/assets/css/pace-theme-loading-bar.css" rel="stylesheet" />
        <script src="public/assets/js/angular.min.js" ></script>
        <script src="public/assets/js/getWeeklyDiscount_browserify.js"></script>
    </head>
    <body ng-controller="Ctrl">
        <div id="books">
            <strong>讀冊</strong>
            <ul ng-repeat="data in Data[0]">
                <li> {{data.bookName}} </li>
                <li><img src="{{data.img}}" alt=""></li>
                <li>書名: {{data.bookName}}</li>
                <li>日期: {{data.date}}</li>
                <li>折數: {{data.discount}} 折</li>
                <li>售價: {{data.label}}</li>
                <li>特價: {{data.price}}</li>
                <li><a href="{{data.link}}" target="_blank">詳細資訊</a></li>
            </ul>
            <br><br>
            <strong>博客來</strong>
            <ul ng-repeat="data in Data[1]">
                <li> {{data.bookName}} </li>
                <li><img src="{{data.img}}" alt=""></li>
                <li>書名: {{data.bookName}}</li>
                <li>日期: {{data.date}}</li>
                <li>折數: {{data.discount}} 折</li>
                <li>售價: {{data.label}}</li>
                <li>特價: {{data.price}}</li>
                <li><a href="{{data.link}}" target="_blank">詳細資訊</a></li>
            </ul>
            <br><br>
            <strong>三民</strong>
            <ul ng-repeat="data in Data[2]">
                <li> {{data.bookName}} </li>
                <li><img src="{{data.img}}" alt=""></li>
                <li>書名: {{data.bookName}}</li>
                <li>日期: {{data.date}}</li>
                <li>折數: {{data.discount}} 折</li>
                <li>售價: {{data.label}}</li>
                <li>特價: {{data.price}}</li>
                <li><a href="{{data.link}}" target="_blank">詳細資訊</a></li>
            </ul>
            <br><br>
            <strong>灰熊</strong>
            <ul ng-repeat="data in Data[3]">
                <li> {{data.bookName}} </li>
                <li><img src="{{data.img}}" alt=""></li>
                <li>書名: {{data.bookName}}</li>
                <li>日期: {{data.date}}</li>
                <li>折數: {{data.discount}} 折</li>
                <li>售價: {{data.label}}</li>
                <li>特價: {{data.price}}</li>
                <li><a href="{{data.link}}" target="_blank">詳細資訊</a></li>
            </ul>
            <br><br>
        </div>
        <script src="public/assets/js/jquery.min.js"></script>
        <script src="public/assets/js/jquery.poptrox.min.js"></script>
    </body>
</html>
