<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cache-control" content="must-revalidate">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A Single-Page Application that list the weekly discount of books in Taiwan.">
        <meta name="author" content="Scott Lin">

        <title>Price Crawler - 本周特價</title>

        <link rel="icon" href="favicon.ico" type="image/x-icon"/>

        <!-- Bootstrap Core CSS -->
        <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="public/vendor/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' type='text/css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' type='text/css'>

        <!-- Plugin CSS -->
        <link rel="stylesheet" href="public/vendor/magnific-popup/magnific-popup.css">
        <link rel="stylesheet" href="public/vendor/CaptionHoverEffects/css/component.css">
        <link rel="stylesheet" href="public/vendor/CaptionHoverEffects/css/default.css">
        <script src="public/vendor/CaptionHoverEffects/js/modernizr.custom.js"></script>

        <!-- Theme CSS -->
        <link href="public/assets/css/creative.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Loading Animation -->
        <script src="public/assets/js/pace.min.js" ></script>
        <link href="public/assets/css/pace-theme-loading-bar.css" rel="stylesheet" />

        <!-- Loading data -->
        <script src="public/assets/js/angular.min.js" ></script>
        <script src="public/assets/js/getWeeklyDiscount_browserify.js"></script>

    </head>
    <body id="page-top" ng-controller="Ctrl">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">PriceCrawler</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#discount">Discount</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">Specail book discount every week</h1>
                    <hr>
                    <p>PriceCrawler is a service that provide weekly discount information of books in Taiwan.</p>
                    <a href="#discount" class="btn btn-primary btn-xl page-scroll">Check today's discount</a>
                </div>
            </div>
        </header>

        <section class="no-padding bg-third" id="discount">
            <div class="container demo-1">
                <ul class="grid cs-style-1" ng-repeat="data in Data[0]">
                    <li class="col-lg-3 col-sm-6">
                        <figure>
                            <img src="{{data.img}}" alt="" width="240" height="360">
                            <figcaption>
                                <h3>{{data.date}}</h3>
                                <span>{{data.bookName}} <br>
                                特價: {{data.price}} 元<br>
                                折數: {{data.discount}} 折<br>
                                </span>
                                <a href="{{data.link}}" target="_blank">Go</a>
                            </figcaption>
                        </figure>
                    </li>
            </div>
            <div class="container demo-3">
                <ul class="grid cs-style-4" ng-repeat="data in Data[1]">
                    <li class="col-lg-3 col-sm-6">
                        <figure><img src="{{data.img}}" alt="" width="240" height="360">
                                <figcaption>
                                    <h3>{{data.date}}</h3>
                                    <span>{{data.bookName}} <br>
                                    特價: {{data.price}} 元<br>
                                    折數: {{data.discount}} 折<br>
                                    </span>
                                    <a href="{{data.link}}" target="_blank">Go</a>
                                </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="container demo-1">
                <ul class="grid cs-style-1" ng-repeat="data in Data[2]">
                    <li class="col-lg-3 col-sm-6">
                        <figure>
                            <img src="{{data.img}}" alt="" width="240" height="360">
                            <figcaption>
                                <h3>{{data.date}}</h3>
                                <span>{{data.bookName}} <br>
                                特價: {{data.price}} 元<br>
                                折數: {{data.discount}} 折<br>
                                </span>
                                <a href="{{data.link}}" target="_blank">Go</a>
                            </figcaption>
                        </figure>
                    </li>
            </div>
            <div class="container demo-1">
                <ul class="grid cs-style-1" ng-repeat="data in Data[3]">
                    <li class="col-lg-3 col-sm-6">
                        <figure>
                            <img src="{{data.img}}" alt="" width="240" height="360">
                            <figcaption>
                                <h3>{{data.date}}</h3>
                                <span>{{data.bookName}} <br>
                                特價: {{data.price}} 元<br>
                                折數: {{data.discount}} 折<br>
                                </span>
                                <a href="{{data.link}}" target="_blank">Go</a>
                            </figcaption>
                        </figure>
                    </li>
            </div>
        </section>

        <section class="bg-second" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-github text-primary sr-icons"></i>
                            <a href="https://github.com/MAJA-Lin"><h3>Github</h3></a>
                            <p class="text-muted">Check my github profile.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-code-fork text-primary sr-icons"></i>
                            <a href="https://github.com/MAJA-Lin/PriceCrawler"><h3>Fork</h3></a>
                            <p class="text-muted">You can fork whole project here.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-hand-spock-o text-primary sr-icons"></i>
                            <h3>Peace</h3>
                            <p class="text-muted">Long live and prosper.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-music text-primary sr-icons"></i>
                            <h3>Music</h3>
                            <p class="text-muted">The favicon is inspired by 8th note.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- jQuery -->
        <script src="public/vendor/jquery/jquery.min-1.12.4.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="public/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="public/vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="public/vendor/CaptionHoverEffects/js/toucheffects.js"></script>

        <!-- Theme JavaScript -->
        <script src="public/assets/js/creative.min.js"></script>

        <!-- Google Analytics-->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-63336846-2', 'auto');
            ga('send', 'pageview');
        </script>

    </body>
</html>
